@model IEnumerable<MVC_template.Data.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Products</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prices)
            </td>
            <td>
                    <img src="~/Images/Products/@item.Image" alt="@item.ProductName" width="100px" height="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary">Chỉnh sửa</a>
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-info text-white">Chi tiết</a>
                    @{
                        @if (!string.IsNullOrEmpty(item.IsHide) && item.IsHide.Trim() == "false")
                        {
                            <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-warning text-white">Ẩn</a>
                        }
                        else
                        {
                            <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-success">Hiện</a>
                        }

                    }
                </td>

        </tr>
}
    </tbody>
</table>
